

body{
    margin: 0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.searchDiv{
    width: 96vw;
    height: 21vh;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2vh 2vw 2vh 2vw;
}

.searchBar{
    width: 60vw;
    height: 10vh;

    font-size: 2.5vw;
    padding: 1vh 1vw 1vh 1vw;
    border-style: solid;
}
.dataDiv{
    width: 90vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(180, 180, 180, 0.6);
}

.location{
    font-size: 3vw;
}

.grid{
    width: 60vw;
    height: 40vh;
    display: grid;
    place-content: center; /* centers the entire grid inside the container */
    grid-template-columns: repeat(4,20vw);
    grid-template-rows: repeat(2,16vh);
    padding: 2vh 5vw 2vh 5vw;

    font-size: 2.5vw;
}

@media (max-width: 600px){
    .searchBar{
        width: 80vw;
        font-size: 3vh;
    }
    .location{
        font-size: 3vh;
    }
    .dataDiv{}
    .grid{
        height: 60vh;
        grid-template-columns: repeat(2,40vw);
        grid-template-rows: repeat(4,13vh);
        font-size: 2.5vh;
    }
}